.character__list--container-all{
  background-color: rgb(12, 12, 12);
  background-size: cover;
  overflow: hidden;
  position: relative;
}

.character__list--animation {
  position: absolute;
  width: 1500vw;
  height: 100%;
  // opacity: 0.7;
  background-size: contain;
  // background: repeat-x;
  animation: slide 20s linear infinite;
}

@keyframes slide {
  0%{
    transform: translate3d(0, 0, 0);
  }
  100%{
    transform: translate3d(-1692px, 0, 0);
  }
}

.character__list--container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.character__list {
  list-style: none;
  padding-left: 0;
  text-decoration: none;
  color:black;
  padding: 20px 0;

  @media all and (min-width: 500px) {
    display: grid;
    grid-template-columns: 190px 190px;
    grid-gap: 30px;
  }

  @media all and (min-width: 730px) {
    grid-template-columns: 190px 190px 190px;
  }

  @media all and (min-width: 950px) {
    grid-template-columns: 190px 190px 190px 190px;
  }

  @media all and (min-width: 1200px) {
    grid-template-columns: 190px 190px 190px 190px 190px;
  }

}

.character__list--link {
  text-decoration: none;
  color: black;
  font-family: 'Montaga', serif;
}

.character__list--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 20px;
  @media all and (min-width: 500px) {
    padding-bottom: 0;
  }
}

.character__list--name-container {
  height: 65px;
  width: 210px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 64%;
  @media all and (min-width: 500px) {
    top: 67%;
  }
}

.character__list--name {
  font-size: 15px;
  margin: 25px 0 8px 0;
  text-align: center;
  transform: rotate(4deg);
}

.character__list--image-bg {
  height: 280px;
  width: 190px;
  background-size: cover;
  background-position: center;
}

.character__list--house {
  height: 65px;
  margin-top: 10px;
}

.character__list--house:hover{
  transform: scale(1.2);
}

// <ul className="character__list">
// {characterList
//   .filter(item => item.name.toLowerCase().includes(filterName.toLowerCase()))
//   .filter(item => item.house.toLowerCase().includes(filterHouse.toLowerCase()))
//   .map(item => 
//     <Link to={`/character/${item.id}`} key={item.id} className="character__list--link">
//       <li className="character__list--item">
//         <h2 className="character__list--name">{item.name}</h2>
//         <div className="character__list--image-bg" style={{backgroundImage: `url(${item.image})`}}></div>
//         <h3 className="character__list--house">{item.house}</h3>
//       </li>
//     </Link>
//   )
// }
// </ul>