
.character__list {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: 200px 200px 200px 200px 200px;
  grid-gap: 30px;
  text-decoration: none;
  color:black;
}

.character__list--container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.character__list--link {
  text-decoration: none;
  color: black;
  font-family: 'Montaga', serif;
}

.character__list--item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative
}

.character__list--name-container {
  height: 70px;
  width: 220px;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 69%;
}

.character__list--name {
  font-size: 16px;
  margin: 25px 0 8px 0;
  text-align: center;
}

.character__list--image-bg {
  height: 300px;
  width: 200px;
  background-size: cover;
  background-position: center;
}

.character__list--house {
  height: 60px;
  margin-top: 10px;
}

// <ul className="character__list">
// {characterList
//   .filter(item => item.name.toLowerCase().includes(filterName.toLowerCase()))
//   .filter(item => item.house.toLowerCase().includes(filterHouse.toLowerCase()))
//   .map(item => 
//     <Link to={`/character/${item.id}`} key={item.id} className="character__list--link">
//       <li className="character__list--item">
//         <h2 className="character__list--name">{item.name}</h2>
//         <div className="character__list--image-bg" style={{backgroundImage: `url(${item.image})`}}></div>
//         <h3 className="character__list--house">{item.house}</h3>
//       </li>
//     </Link>
//   )
// }
// </ul>