.character__card--container {
  height: 100vh;
  width: 100vw;

  @media all and (min-width: 320px) {
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.character__card {
  font-family: 'Montaga', serif;
  position: relative;
  height: 100vh;
  @media all and (min-width: 500px) {
    height: 400px;
    width: 600px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.fa-chevron-circle-left {
  position: absolute;
  font-size: 25px;
  color: white;
  top: 2%;
  right: 3%;

  @media all and(min-width:500px) {
    top: 5%;
    right: 5%;
  }
}

.characters__card--image {
  height: 400px;
  width: 320px;
  background-size: cover;
  background-position: center;
  margin-left: auto;
  margin-right: auto;
  @media all and (min-width: 500px) {
    height: 400px;
    width: 250px;
    margin: 0;
  } 
}

.character__card--content {
  flex-grow: 1;
}

.characters__card--name {
  text-align: center;
  margin: 20px 0;
  @media all and (min-width: 500px) {
    margin-top: 50px;
  }
}

.character__card--content-detail {
  padding: 0 20px;

  @media all and (min-width: 500px) {
    padding: 10px 20px;
  }
}

.card-text {
  margin: 10px;
}

.characters__card--crest {
  height: 120px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  @media all and (min-width: 500px) {
    margin: 0 20px 0 auto;
    // margin-left: auto;
    // margin-right: 0;
  }
}

.gryffindor {
  background-color: #8E1405;
  color: white;
}

.slytherin {
  background-color: #235416;
  color: white;
}

.hufflepuff {
  background-color: #F2B817;
}

.ravenclaw {
  background-color: #204E80;
  color: white;
}

.no-house {
  background-color: #333333;
  color: white
}