.header__container {
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: bottom;

  @media all and (min-width: 500px) {
    height: 170px;
  }
}

.header__logo {
  height: 100px;

  @media all and (min-width: 500px) {
    height: 150px;
  }
}