.landing {
  height: 100vh;
  width: 100vw;
  position: relative;
}

.landing__link {
  background-size: cover;
  background-position: center;
  height: 560px;
  width: 600px;
}

.landing__wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.landing__steps1 {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 2%;
  left: 5%;
  transform: rotate(355deg)
}

.foot {
  position: absolute;
  height: 20px;
  animation: steps 25s infinite;
  opacity: 0;
}

.foot1 {
  top: 30%;
  left: 15%;
  transform: rotate(180deg) scaleY(-1);
  animation-delay: .5s;
}

.foot2 {
  top: 65%;
  left: 8%;
  transform: rotate(180deg);
}

.foot3 {
  top: 35%;
  left: 33%;
  transform: rotate(180deg) scaleY(-1);
  animation-delay: 2.5s;
}

.foot4 {
  top: 70%;
  left: 28%;
  transform: rotate(180deg);
  animation-delay: 1.5s;
}

.foot5 {
  top: 30%;
  left: 52%;
  transform: rotate(180deg) scaleY(-1);
  animation-delay: 3.5s;
}

.foot6 {
  top: 65%;
  left: 48%;
  transform: rotate(180deg);
  animation-delay: 3s;
}

.foot7 {
  top: 35%;
  left: 70%;
  transform: rotate(180deg) scaleY(-1);
  animation-delay: 4.5s;
}

.foot8 {
  top: 70%;
  left: 66%;
  transform: rotate(180deg);
  animation-delay: 3.5s;
}

@keyframes steps {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  65% {
    opacity: 0;
  }
}

.landing__steps2 {
  width: 400px;
  height: 100px;
  position: absolute;
  top: 70%;
  right: 0%;
  transform: rotate(120deg);
}

.foot9 {
  top: 30%;
  left: 15%;
  transform: rotate(180deg) scaleY(-1);
  animation-delay: 7s;
}

.foot10 {
  top: 65%;
  left: 8%;
  transform: rotate(180deg);
  animation-delay: 6s;
}

.foot11 {
  top: 35%;
  left: 33%;
  transform: rotate(180deg) scaleY(-1);
  animation-delay: 9s;
}

.foot12 {
  top: 70%;
  left: 28%;
  transform: rotate(180deg);
  animation-delay: 8s;
}

.foot13 {
  top: 30%;
  left: 52%;
  transform: rotate(180deg) scaleY(-1);
  animation-delay: 11s;
}

.foot14 {
  top: 65%;
  left: 48%;
  transform: rotate(180deg);
  animation-delay: 10s;
}

.foot15 {
  top: 35%;
  left: 70%;
  transform: rotate(180deg) scaleY(-1);
  animation-delay: 13s;
}

.foot16 {
  top: 70%;
  left: 66%;
  transform: rotate(180deg);
  animation-delay: 12s;
}