

.sorting__form {
  display: flex;
  flex-direction: column;
}

// .sorting__form--fieldset {
//   display: flex;
//   flex-direction: column;
// }

.sorting__label {
  display: block;
}

// .sorting__input {
//   display: block;
// }